$background-color: #faf9f5;
$card-color: #fff;
$button-color: #ea6a12;
$price-text-color: #979895;
$cart-card-color: #f9dfcd;

$body-font: 14px;
$header-font: 1.5em;
$title-font: 1.3em;
$product-price-font: 1.7em;

$card-border-radius: 25px;
$circle-border-radius: 50%;
$scroll-border-radius: 10px;
